.float_left{:style => "width: 50%;"}
  %h2 Which kites should I bring?
  
  %p
    We suggest a 7, 9 and 12.  Although the 12 should be used very infrequently.  Normally the wind is at least 18 knots for a minimum of 4 hours a day.