- content_for :head do
  = javascript_include_tag "galleria-1.2.4", "themes/miniml/galleria.miniml.min.js"


#gallery
  - @items.each do |item|
    = link_to image_tag(item.image.url(:thumb), :alt => item.caption, :title => item.title), item.image.url(:normal), :rel => item.image.url
  
.clearfix{:style => "height:0px"}

%h1 MEESTER in TEKST


%p 
  U wilt een boodschap overtuigend overbrengen? U zoekt een tekstschrijver die écht met u meedenkt?

%h2 Published on 10 augustus 2012 by in Opdrachten

%p Dan bent u bij Meester in Tekst aan het goede adres. Meester in Tekst schrijft overtuigende teksten die een solide brug vormen tussen u en uw doelgroep. U kunt Meester in Tekst inschakelen als algemeen tekstschrijver of als specialist op deze gebieden: juridisch/commercieel/non-profit.

%h2 Tags
%p commercieel, copywriter, gemeente, hulporganisatie, juridisch, Meester in Tekst, ministerie, ngo, nicole resink, non-profit, overheid, provincie, Tekstschrijver
Juridisch tekstschrijver voor nieuwe pensioeninstelling

%p Published on 8 augustus 2012 by in Opdrachten

8 augustus 2012
%p In september 2011 ging Meester in Tekst een langlopende samenwerking aan met Pensional. Deze nieuwe premiepensioeninstelling, een initiatief van ABN AMRO en APG, vroeg om korte, eigentijdse teksten die uitblinken in begrijpelijkheid. Meester in Tekst schreef de content voor het deelnemersportaal en alle schriftelijke communicatiemiddelen: startbrief, productbrochures en zakelijke brieven.
Omdat Pensional een nieuwe pensioeninstelling is, was het aan Meester in Tekst om alle teksten zelf schrijven. Hiermee oversteeg het werk dat van van een traditionele tekstschrijver. Meester in Tekst bundelde informatie, bewaakte de kwaliteit en consistentie, en gaf communicatieadvies.

%h2 Tags

%p copywriter, juridisch tekstschrijver, jurist, pensioenen, pensioenregeling, Tekstschrijver
Storyteller Cordaid Microkrediet
Published on 21 november 2011 by in Opdrachten

21 november 2011
‘Help armoede de wereld uit en steun lokale ondernemers met Cordaid Microkrediet’, daarmee opent de nieuwe website van Cordaid Microkrediet. Deze website draait om de persoonlijke verhalen van mensen in Afrika, Azië en Latijns-Amerika die met een microkrediet een eigen bestaan kunnen opbouwen. Nicole Resink verzamelt en redigeert deze verhalen. Hiervoor onderhoudt ze een international netwerk van lokale ngo’s. Ook reist ze zelf naar landen zoals de Filippijnen en Sierra Leone om interviews te houden en beeldmateriaal (foto en film) te verzamelen. Tijdens deze reizen verzamelde ze alle content voor de verhalen over:
$bb Perlita Arquelles, een alleenstaande moeder in een sloppenwijk in Manilla
%bb Maylen Balicucos, een ambitieuze Filipijnse onderwijzeres die opgroeide in armoede
%bb Abibatu Kamara, een pittige marktkoopvrouw in Sierra Leone die wat van haar leven wil maken
Ook alle andere verhalen op Cordaidmicrokrediet.nl zijn geschreven voor Nicole.

%h2 Tags

%p hulporganisatie, levensverhalen, ngo, storyteller, succesverhalen, Tekstschrijver
%h2 Interviews voor Cordaid
Published on 21 november 2011 by in Opdrachten
Augustus/september 2011
Ieder jaar organiseert Cordaid Vastenaktie de Pelgrimstocht, een spirituele sponsorwandeling. De opbrengst van deze vierdaagse wandeltocht gaat naar een project van hulporganisatie Cordaid. Eind augustus 2011 organiseerde Vastenaktie een reünie voor de pelgrims. Een gezellige samenkomst en tegelijk een mooie gelegenheid om promotiemateriaal te verzamelen voor de Pelgrimstocht 2012.
Meester in Tekst werd gevraagd om verslag te doen van de reünie en het promotiemateriaal samen te stellen. Zij schreef korte portretten van pelgrims, maakte een fotoverslag van de reünie, interviewde ambassadeur Hella van der Wijst en redigeerde een interview met de begunstigde van het sponsorgeld. Hieronder vindt u voorbeelden van het door Meester in Tekst opgeleverde werk:
%bb Interview Zuster Brenda Villarin in een Ethiopische sloppenwijk
%bb Interview De pelgrimstocht van Harmen Altema

%h2 Interview hulporganisatie ZOA
Published on 21 november 2011 by in Opdrachten
%h2 Oktober 2011
ZOA is een hulporganisatie die hulp, hoop en herstel biedt aan mensen die getroffen zijn door een natuurramp of gewapend conflict. ZOA maakt hierbij gebruik van business ambassadeurs. Dit zijn ondernemers die hun netwerk en kennis inzetten voor het werk van ZOA.
Meester in Tekst interviewde ambassadeurs Frans en Piety Muller over hun reis naar het ZOA-project in Congo. Aan de hand van een foto vertellen zij over hun ervaringen en het werk van ZOA. Het artikel staat in het ZOA-magazine van oktober 2011 (p. 24).

Webteksten voor Buren van Velzen Guelen advocaten, notarissen en belastingadviseurs
Published on 21 november 2011 by in Opdrachten

%h2 September 2011
%p Meester in Tekst schreef de content voor de nieuwe website van Buren van Velzen Guelen. Dit kantoor van advocaten, notarissen en belastingadviseurs lanceerde de website eind 2011. Vooral voor de pagina’s met inhoudelijke informatie over hun werkzaamheden, zochten zij een tekstschrijver met verstand van juridische zaken. Meester in Tekst voldeed aan dat criterium. En aan de verwachtingen.
Marjolijn Nijwijde, communicatieadviseur bij BVVG: ‘Voorafgaand aan de opdracht hebben we met 3 tekstschrijvers gesprekken gevoerd. Nicole Resink kwam daarbij het meest professioneel, betrouwbaar en aardig over. Tijdens onze samenwerking bleek ze klantgericht en nauwkeurig. Ze werkte snel en hield zich aan de afspraken. Van de ongeveer 50 teksten die zij aanleverde, hebben een paar wat kleine aanpassingen ondergaan. Voor de rest waren ze perfect. Ik beveel haar zeker aan, want haar werkwijze zal veel mensen aanspreken.’

%h2 Juridisch tekstschrijver schrijft concept-cao voor V&D
Published on 5 mei 2011 by in Opdrachten
In opdracht van V&D herschreef Meester in Tekst de oude cao tot een moderne, transparante concepttekst. Deze nieuwe concept-cao is de basis voor de onderhandelingen tussen werkgever en vakbonden over een nieuwe cao.
In 2010 spraken V&D en vakbonden af om de cao voor 2011 grondig te moderniseren. De cao-tekst stamde nog uit de jaren ’70. Door de jaren heen waren artikelen veranderd, geschrapt en toegevoegd. Het resultaat was een cao van 53 pagina’s die que samenhang en begrijpelijkheid toe was aan verbetering.
V&D vroeg Meester in Tekst de verbeteringen door te voeren in een nieuwe concepttekst. Stap 1 was het verbeteren van de structuur en inhoud. Meester in Tekst haalde dubbelingen uit de cao, signaleerde leemten en inconsistenties en herstructureerde de artikelen. Stap 2 was het herschrijven van de bepalingen tot een begrijpelijke en moderne tekst. Het resultaat? Een helder gestructureerde, eigentijdse concept-cao van 40 pagina’s. Ook creëerde Meester in Tekst een overzicht van de belangrijkste wijzigingen en adviezen ten behoeve van de onderhandelingen.
Handleidingen voor stadsdeel Nieuw-West in Amsterdam
Published on 23 juli 2010 by in Opdrachten
Nicole Resink schrijft twee handleidingen voor het Stadsdeel Nieuw-West, gemeente Amsterdam.
23 juli 2010
Hoe zorg je er als werkgever voor dat je medewerkers de bedrijfsmiddelen optimaal benutten? Precies, je zorgt voor duidelijke en gebruiksvriendelijke handleidingen. Met de juiste interne communicatie breng je de mogelijkheden van de bedrijfsmiddelen onder de aandacht van je medewerkers.
Nicole Resink schrijft twee handleidingen voor het stadsdeel Nieuw-West. De eerste is een handleiding over de telefoontoestellen van de managementassistenten. Telefoontoestellen met oneindig veel mogelijkheden, maar hoe gebruik je ze? In de handleiding staat het overzichtelijk en beknopt beschreven. De tweede handleiding is voor alle medewerkers van het stadsdeel en gaat over het juiste gebruik van de Wordsjablonen voor brieven, memo’s etc. De handleiding zorgt voor eenduidig gebruik en dus voor een consequente toepassing van de huisstijl. Beide handleidingen gaan gepaard met aansprekende berichten op het intranet van Nieuw-West. 

%h2 Tags
%p Meester, Nicole, Resink, Tekst, Tekstschrijver
Webteksten voor rijksoverheid
Published on 16 mei 2010 by in Opdrachten
%h2 Mei 2010
Op de websites Werkenbijhetrijk.nl en Mobiliteitsbank.nl staat informatie die toe is aan een opfrisbeurt. ‘Kan je die voor ons omzetten naar ‘digi-taal’?’ was de vraag van het interne communicatiebureau van het Ministerie van BZK.
Nicole Resink over deze opdracht: ‘Dit is precies een opdracht waarbij ik veel profijt heb van mijn overheidservaring. Natuurlijk maak ik de teksten korter, krachtiger en meer gericht op de doelgroep. Kortom, geschikt voor het internet. Maar daarnaast kan ik ook een inhoudelijke bijdrage leveren door mijn kennis van het ministerie. Soms een zin toevoegen;  een voorbeeld uit de praktijk.  Soms juist een zin of woord weglaten, omdat het jargon is.’
Nieuwsgierig naar het resultaat? Bekijk de geredigeerde teksten.

%h2 Diensten
Juridisch of commercieel bedrijf?
Wilt u als bedrijf begrijpelijk communiceren over juridische onderwerpen zoals pensioenen, verzekeringen of cao’s? Of wilt u als advocatenkantoor goed voor de dag komen met overtuigende webteksten? Dan hebt u met Meester in Tekst een deskundige (sparring)partner aan uw zijde. Nicole Resink in niet alleen tekstschrijver, zij is ook jurist. Dat scheelt tijd en misverstanden. Maar nog belangrijker: dat scheelt geld. Deze opdrachtgevers gingen u voor:Buren Van Velzen Guelen, ABN AMRO & APG, en V&D.
%h2 Overheid of ngo?
Ook als communicatiespecialist bij een non-profitorganisatie profiteert u bij Meester in Tekst van onderscheidende kennis over uw vakgebied en doelgroep. Zoekt u voor een ministerie, provincie, gemeente of hulporganisatie een tekstschrijver die weet hoe uw sector werkt? Iemand die zich gemakkelijk inleeft in uw doelgroep en (ingewikkelde) inhoud of emoties helder kan overbrengen? Neem dan vandaag nog contact op met Meester in Tekst voor een vrijblijvende offerte en treed in de voetsporen van deze opdrachtgevers: Cordaid, Ministerie van BZK en ZOA.
Voor welke teksten kunt u Meester in Tekst inschakelen?
%bb Overtuigende webteksten
%bb Zakelijke en informatieve teksten
%bb Teksten voor fondsenwerving (zakelijk en particulier)
$bb Interviews voor online of offline publicatie
$bb Folders en brochures
%bb Persberichten en nieuwsberichten

%h2 Werkwijze
Welke werkwijze kunt u verwachten?
Luisteren – meedenken – schrijven. In die volgorde, en niet anders. Dat is de werkwijze van Meester in Tekst. Waarom? Omdat er maar een ding telt: uw boodschap moet aanslaan bij uw doelgroep. Wat is uw werkelijke doel? Welke inhoud en toon passen daarbij? Meester in Tekst luistert, stelt kritische vragen en denkt mee. Pas daarna gaat Meester in Tekst aan de slag met de tekst. Het resultaat? Informatieve én overtuigende teksten waarmee u goed voor de dag komt.
Prijs en offerte
Natuurlijk ziet u hier het liefst een concreet uurtarief. Maar dat zou een vertekend beeld geven. De prijs is namelijk afhankelijk van de aard, omvang en duur van uw opdracht. Meester in Tekst geeft u graag een prijsindicatie op maat. Neem direct contact op voor een vrijblijvende offerte.

%h2 Over
Tekstschrijver met juridische achtergrond
Meester in Tekst is het tekstbureau van mr. Nicole Resink. Zij studeerde Nederlands Recht aan de Universiteit Leiden. Na haar studie bevestigde een tijdelijke baan bij het Joegoslavië Tribunaal haar vermoeden dat zij geen jurist pur sang was. Het bloed kroop waar het niet gaan kon; communicatie had haar interesse.

%h2 Communicatie-ervaring bij overheid en ngo
Overtuigingskracht, doorzettingsvermogen en een beetje geluk brachten haar naar het persvoorlichterschap bij een ministerie in Den Haag. Later ging zij bij een hulporganisatie aan de slag. Ervaren collega’s leerden haar het communicatievak op de werkvloer. Werkend aan pers- en nieuwsberichten werd het voor Nicole steeds duidelijker dat schrijven haar ware passie was. In 2010 richtte zij haar tekstbureau Meester in Tekst op.

%h2 Internationale kant
Een verhaal over Nicole is niet compleet zonder iets te zeggen over haar international kant. Ze werd geboren in Chili, groeide op in het buitenland en nam ook na haar jeugd iedere gelegenheid aan om op reis te gaan. Door deze ervaringen is haar Engels en Spaans goed en heeft ze een onuitputtelijke nieuwsgierigheid naar andere mensen, culturen en landen.

%h2 Opdrachtgevers
%p In de ongeveer 2 jaar dat Meester in Tekst nu bestaat, heeft Nicole Resink mogen samenwerken met opdrachtgevers in de commerciële sector en non-profitsector. Hieronder volgt een selectie van haar opdrachtgevers:
%bb Pensional (ABN AMRO en APG), opdracht: schrijven van online en offline communicatiemiddelen over pensioenregelingen
$bb V&D, opdracht: schrijven van een concept-cao
%bb Advocatenkantoor Buren van Velzen Guelen, opdracht: schrijven van webteksten
%bb Ministerie van BZK, opdracht: redigeren van webteksten
%bb Cordaid Microkrediet, opdracht: schrijven van human interest stories
%bb ZOA, opdracht: interview voor ZOA-magazine

%h2 Tekstschrijver Nicole Resink over Meester in Tekst
%p ‘Ik zie mezelf als tussenpersoon. Aan de ene kant de opdrachtgever met een boodschap. Aan de andere kant de doelgroep. Met mijn teksten sla ik de brug tussen die twee partijen. Zo simpel is het. Op papier, dan. Want in de praktijk ben ik er druk mee. Ik verplaats me in beide partijen. Wat is de essentie van de boodschap van de opdrachtgever? Hoe vang ik die in een tekst die de doelgroep aanspreekt en begrijpt? Dat is de uitdaging van mijn vak.’

%h2 Disclaimer
%p Aansprakelijkheid Ondanks de constante zorg en aandacht die aan de samenstelling van deze website is besteed, is het mogelijk dat de informatie die op deze website wordt gepubliceerd typefouten bevat, onvolledig of onjuist is. De informatie op de website wordt van tijd tot tijd aangevuld en eventuele wijzigingen kunnen te allen tijde met onmiddellijke ingang en zonder enige kennisgeving worden aangebracht. Wij kunnen niet instaan voor het feit dat de informatie op deze website geschikt is voor het doel waarvoor de informatie door u wordt geraadpleegd. Alle informatie, producten en diensten worden aangeboden in de staat waarin deze zich feitelijk bevinden en zonder enige (impliciete) garantie of waarborg ten aanzien van deugdelijkheid, geschiktheid voor een bepaald doel of anderszins. In geen geval zullen wij aansprakelijk kunnen worden gehouden voor enigerlei directe of indirecte schade, van welke aard dan ook, die voortvloeit uit of in enig opzicht verband houdt met het gebruik van deze website, of met de (tijdelijke) onmogelijkheid om deze website (tijdig) te kunnen raadplegen, of die het directe of indirecte gevolg is van informatie die is verkregen door middel van deze website.

%h2 Liability Disclaimer 

%p In spite of our constant care and attention the information published on our website may contain typing errors or be incomplete and/or incorrect. The information contained in the website is updated from time to time and any kind of amendments or changes may be implemented with immediate effect without any kind of notice. We cannot make any representations about the suitability of the information for any purpose which you intent you use it. All information, products and services are offered to you “as is” without any (implied) warranty of any kind regarding their condition, suitability for a particular purpose or otherwise. In no event we shall be liable for any kind of, direct or indirect, punitive, incidental or consequential damages, arising out of or in any way connected with the use of the website, or the (temporary) inability to use our website (in time), or which is the direct or indirect result of the information obtained through this website.

%p 

%p 
.clearfix{:style => "height:20px"}
 
%h2

%p

.clearfix{:style => "height:20px"}

%h2

%p


.clearfix{:style => "height:20px"}

%h2 what we offer
%ul
  %li an incredible kitesurfing experience
  %li the magic of the kite house
  %li excellent service & accommodation standards
  %li all logistics covered
  %li equipment rental
  %li kite surfing lessons
  %li SUP tuition/rental
