
.promo_image= image_tag "resources/kitesurfing.jpg"

%h1 Kitesurfing paradise

%h2 Why this is paradise

%ul

  %li wind consistency (best in the world)

  %li air and water temperature (year round consistent 29 and 24 degrees respectively)

  %li choices of conditions, i.e. flat water, wave riding, downwinding etc

  %li the brazil experience


%p This area has incredible wind statistics during the season which runs from June/July to the end of December.  Please check the historical stats in the archive at www.windguru.com or any of the reliable weather sites to see the incredible wind consistency both in terms of strength and direction.  The prevailing wind direction makes downwinders ideal along this beautiful coastline, for 100’s of kilometres you will have glorious beaches to yourself.

%h2 Kitesurfing lessons


#PDF_link
  %a(href="https://s3.amazonaws.com/PDF_files/kitesurfing_lessons.pdf" target="_blank")
    = image_tag("PDF link icon.png")
    %br
    %span Kitesurfing lessons
  

%p We offer a full range of kitesurfing courses and lessons for complete beginners all the way to advanced riding classes. All our instructors have been certified by the IKO (International Kiteboarding Organisation), ensuring that your kitesurfing course will be managed by experienced professional tuition and will always be practiced within a safe environment.

%p Standard 9 hour beginner course, €350

%p Advanced one to one lessons, €55 per hour
