
.clearfix{:style => "height:80px"}

%h1 Enjoy the ultimate kite surfing trip in paradise

%p 
  Join us for the ultimate kitesurfing trips in the incredible setting of Brazil with excellent standards of accommodation and service 
  in a relaxed and friendly environment.  This is not a package holiday, this is a tailored experience with a personal touch.  You will feel like you are sharing an experience with us rather than being part of a group on holiday

%p Stay in the exceptional Kite House in Cumbuco, revel in all the area has to offer, downwind along the 100’s of kilometres of dream beaches, reach the magical Jericoacoara and enjoy all the glorious conditions and scenery along the way


%p All you will have to think about is the kite surfing

.clearfix{:style => "height:20px"}
 
%h2 where we are
%p For kite enthusiasts or anyone in search of a dream holiday this is paradise - the sunset coast - from Cumbuco to Jericoacoara and beyond, in the state of Ceara, North Eastern Brazil.  Fortaleza, with its international airport is only 40 minutes away

.clearfix{:style => "height:20px"}

%h2 who we are
%p We are european owner managed and have extensive experience in the area.  we operate in some of the best kitesurfing conditions the planet has to offer, come and see for yourself, you won’t be disappointed...

.clearfix{:style => "height:20px"}

%h2 what we offer
%ul
  %li an incredible kitesurfing experience
  %li the magic of the kite house
  %li excellent service & accommodation standards
  %li all logistics covered
  %li equipment rental
  %li kite surfing lessons
  %li SUP tuition/rental

