.promo_image= image_tag"resources/trips.png"

%h1 Trips

%p From the time you step off the plane until your departure we will look after your every need, all costs are included with the exception of evening meals and drinks

.clearfix{:style => "height:20px"}

%h2 The Base

%p The Kite House in Cumbuco is where you will be greeted and from this spectacular location you can enjoy all the area has to offer, including the nearby lagoons, the varied conditions available and the nightlife in the town itself.  The European and Brazilian restaurants provide excellent cuisine at reasonable prices

.clearfix{:style => "height:20px"}

%h2 Our recommended trip - The Road to Jeri

%p Bespoke packages to suit your exact needs are also available, please enquire for further information

#PDF_link
  %a(href="https://s3.amazonaws.com/PDF_files/Road_to_Jeri_itinerary.pdf" target="_blank")
    = image_tag("PDF link icon.png")
    %br
    %span Road to Jeri itinerary


%h2 The Road to Jeri - 10 days
%ul
  %li 6 nights at the Kite House, two nights en route to Jeri plus 2 nights in Jeri
  %li first class accommodation
  %li beach support for downwinding - Hilux 4*4, plus beach buggy for local trips around Cumbuco
  %li for full itenerary, see PDF file -------->


.clearfix{:style => "height:20px"}



#PDF_link
  %a(href="https://s3.amazonaws.com/PDF_files/booking_conditions.pdf" target="_blank")
    = image_tag("PDF link icon.png")
    %br
    %span Booking conditions
    
.clearfix{:style => "height:0px"}

%h2 Prices

%p Discounts are available for group bookings, please contact us for further information
%table.prices_table
  %tr
    %th 
    %th €
    %th $
    %th £
  %tr
    %td.first 1 night w breakfast, 1 person
    %td.values 75
    %td.values 94
    %td.values 60
  %tr
    %td.first 1 night w breakfast, 2 persons sharing
    %td.values 90
    %td.values 112
    %td.values 72 
  %tr
    %td.first Paracuru downwinder, day trip with beach support, per person
    %td.values 50
    %td.values 62
    %td.values 40
  %tr
    %td.first Road to Jeri 10 day Itinerary based on two sharing
    %td.values 1,550
    %td.values 1,937
    %td.values 1,240


.clearfix{:style => "height:40px"}

%h2 Brazilian exchange rate

%p Foreign exchange rates for the Brazilian currency, the 'Real', as at 26 June 2012 are:

%table.prices_table
  %tr
    %th 
    %th €
    %th $
    %th £

  %tr
    %td.first Brazilian Real exchange rate, as at 26.06.12
    %td.values 2.57
    %td.values 2.06
    %td.values 3.22
  

.clearfix{:style => "height:30px"}



.clearfix{:style => "height:20px"}

%h2 Trip Dates

%p We can arrange tailor made packages and dates however the scheduled Road to Jeri trips are as follows:

%table.dates_table
  %tr
    %th 2011
    %th 2012
    %th 2013
  %tr
    %td 11 - 21 August
    %td 4 - 14 August
    %td 3 - 13 August
  %tr
    %td  27 August - 6 September
    %td 18 - 28 August
    %td 17 - 27 August
  %tr
    %td 24 September - 4 October
    %td 1 - 11 September
    %td 31 August - 10 September
  %tr
    %td 15 - 25 October
    %td 29 September - 9 October
    %td 14 - 24 September
  %tr
    %td 5 - 15 November
    %td 20 - 30 October
    %td 28 September - 8 October
  %tr
    %td 19 - 29 November
    %td 3 - 13 November
    %td 12 - 22 October
  
  %tr
    %td 3 - 13 December
    %td 17 - 27 November
    %td 26 October - 5 November
    
  %tr
    %td 
    %td 1 - 11 December
    %td 9 - 19 November
    
  %tr
    %td
    %td
    %td 23 November - 3 December
    
  %tr
    %td
    %td
    %td 7 - 17 December
  

.clearfix{:style => "height:30px"}

%h2 Trip Add-ons

%p We offer further services on request such as upgrade of accommodation in Jeri (all accommodation is of a very high standard however we can arrange stays at places such as Mosquito Blue where the rates are around €400 per night).  Please enquire for details of more add-ons.

.clearfix{:style => "height:20px"}

%h2 Equipment rental

%p It is highly recommended that you bring your own equipment with you as your riding experience is usually improved when you know your own kites etc.  We do offer equipment rental for those who wish to rent and for those emergency situations.  Please enquire for rates.

.clearfix{:style => "height:20px"}

%h2 SUP (Stand up Paddle) Rental & lessons

%p Early in the morning, before the partying kite surfers and the wind have risen this is the time to head out on one of our SUP's.  Ride waves, tour up and down the coast or have an excursion out into the ocean....  this is a highly recommended experience
  
.clearfix{:style => "height:20px"}

%h2 Additional Kite House services

%ul

  %li massage service
  %li manicure and pedicure
  %li sauna & swimming pool
  %li beach buggy
  %li sunset cocktails at the pool bar
  %li snacks and a full bar are available at the Kite House, dinner can be prepared on request
  %li acai (local Brazilian superfruit) which is made into a delicious energising snack
  %li full time maid and housekeeper
  

.clearfix{:style => "height:20px"}

%h2 Further activities and services

%ul
  %li horse riding on the beach and dunes
  %li dune buggy rides

.clearfix{:style => "height:20px"}

%h2 Stay at the Kite House

%p Please enquire for rates for staying at the  Kite House, we offer discounts for extended stays

.clearfix{:style => "height:20px"}


%h2 Photography

%p 
  We have an excellent photography service so that you can have something to remember the magic of Brazil.  A photo album of your great adventures 
  maybe?  We will take photographs throughout the trip and there will be some great shots!  We have teamed up with
  %span.black_text=link_to "Printoria", "http://www.printoria.es", :target => "_blank"
  based in Madrid, Spain, who produce excellent quality photo albums
  


